{namespace hedgehog.templates}


/**
 * Ajax loader template
 */
{template .loader}
<div id="ajax-overlay" style="display: none;">
    <div>
    </div>
</div>
{/template}


/**
 * Splash screen template
 */
{template .splashscreen}
<div id="splash-screen" class="splash-screen">
    <div class="logo" href="#"><small>Den of</small> hedgehog</div>
</div>
{/template}